.container {
    position: relative;
}

.dropdown-div {
    display: none;
    background-color:red;
    position: absolute;
    height: fit-content;
    width: fit-content;
}

a {
    color: purple;
}

.carousel-container {
    width: 1600px;
    height: 360px;
    background-color: #6e6e6e;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 36px;
}

img {
    height: 75%;
}

.carousel {
    width: 320px;
    height: 320px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.right {
    background-color: transparent;
    border: none;
}
.left {
    background-color: transparent;
    border: none;
}

.right:hover {
    color: white;
}
.left:hover {
    color: white;
}